body {
  background-color: black;
  color: white;
  font-family: "Roboto Mono", monospace;
  margin-left: 20px;
  z-index: 1;
  background-image: url('./stars.gif');
  background-size: cover;
}
#a,
#b,
#c,
#d,
#e,
#f,
#g,
#h,
#i,
#j,
#k,
#l,
#m,
#n,
#o {
  position: relative;
  color: black;
}

.input {
  background-color: white;
  width: 80%;
  height: 100px;
  bottom: 70px;
  left: 50px;
  border-radius: 10px;
  justify-content: center;
}

.container {
  border: solid rgba(211, 220, 50, 0.6);
  margin: 10px;
}

#typed-text {
  margin-left: 40px;
  margin-top: 30px;
}

button {
  text-decoration: none;
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
}

a {
  text-decoration: none;
  background-color: black; /* Green */
  border: none;
  color: red;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
}

#earth {
  width: 500px;
  position: absolute;
  left: 80%;
  top: 100px;
  animation: rotation 20s infinite linear;
  opacity: 0.5;
}

#mars {
  width: 200px;
  position: absolute;
  top: 150px;
  left: 40%;
  opacity: 0.4;
  animation: rotation 10s infinite linear;
}

#venus {
  width: 120px;
  position: absolute;
  top: 130px;
  left: 10%;
  opacity: 0.4;
  animation: rotation 30s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.span #score {
  display: inline-block;
}

.span #levelUp {
  display: inline-block;
}

.header {
  display: flex;
}

/* .header button {
  margin-left: 30px;
} */

/* canvas {
  z-index: -1;
  position: absolute;
} */