
/* source: https://alvarotrigo.com/blog/create-a-slider-with-pure-CSS/ */

.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.slider {
  max-width: 600px;
  height: 400px;
  margin: 20px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.slides {
  display: flex;
  overflow-x: scroll;
  position: relative;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.slide:nth-of-type(even) {
  background-color: rgb(250, 246, 212);
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
  height: 400px;
  scroll-snap-align: center;
  margin-right: 0px;
  box-sizing: border-box;
  background: aquamarine;
  transform-origin: center center;
  transform: scale(1);
}

.slide__text {
  font-size: 30px;
  padding: 0px 0px 30px 30px;
  font-weight: bold;
  font-family: sans-serif;
}

.slide a {
  background: none;
  border: none;
}

a.slide__next,
.slider::after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  right: 5%;
}

.slider::after,
.slide__next {
  position: absolute;
  top: 48%;
  width: 35px;
  height: 35px;
  border: solid black;
  border-width: 0 4px 4px 0;
  padding: 3px;
  box-sizing: border-box;
}

.slider::after {
  content: "";
  z-index: 1;
  background: none;
  pointer-events: none;
}

.slider__nav {
  box-sizing: border-box;
  position: absolute;
  bottom: 5%;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  text-align: center;
}



@media screen and (min-width: 800px) {
  body {
    background-image: linear-gradient(to right, rgb(198, 214, 219) , rgb(129, 209, 236));

  }
}

h2 {
  font-style: bold;
}


.next {
  width: 0;
  height: 0;
  position: fixed;
  top: 90%;
  left: 90%;
  border-top: 20px solid transparent;
  border-left: 40px solid red;
  border-bottom: 20px solid transparent;
}

.prev {
  width: 0;
  height: 0;
  position: fixed;
  top: 90%;
  left: 10%;
  border-top: 20px solid transparent;
  border-right: 40px solid red;
  border-bottom: 20px solid transparent;
}

.rotate {
  text-align: center;
  height: 100%;
  width: 100%;
  animation: rotation 20s infinite linear;
}


@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

body {
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;

}