
    
    .header{
        margin-top: 50px;
        text-align: center;
    }
    .title{
        display: flex;
        justify-content: center;
        font-weight: bold;
    }
    .title a{
        color: black;
        display: flex;
        
    }
    #author{
        padding: 5px;
        font-weight: lighter;
    }

    .explanations{
        border: 3px solid black;
        width: 400px;
        padding: 20px;
        margin: auto;
        margin-bottom: 20px;
    }

    .explanation{
        text-align: center;
        font-weight: bold;

    }
    
    #context3{
        border: 1px solid black;
    }

